<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Library - Learn English</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/typography.css">
</head>

<body class="page-exam-library">

    <header class="header">
        <%- include('partials/header', { user: name }) %>
    </header>

    <main>
        <aside class="sidebar">
            <h1>Categories</h1>
            <ul>
                <li><a href="#">Listening</a></li>
                <li><a href="#">Reading</a></li>
                <li><a href="#">Writing</a></li>
                <li><a href="#">Speaking</a></li>
                <li><a href="#">Mixed</a></li>
            </ul>
        </aside>

        <div class="divider"></div>

        <section class="content">
                 <!-- Announcement Section -->
                 <section class="announcement">
                    <h2>New Exams Added!</h2>
                    <p>Enhance your skills with our new interactive tests for Reading, Writing, and Listening! These challenges are designed to inspire and help you grow. Test your knowledge today and stay tuned—more exciting tests are on the way!</p>
                </section>

                
            <!-- Introduction -->
            <section class="category">
                <h1>Exam Library</h1>
                <p>Simple to use, simple to adopt. Our exam library is designed to meet the standard scope and sequence requirements of their respective courses – and are 100% free online. Complete with free resources for educators (like LMS integration, lecture slides, instructor answer keys, and more), all tests are fully customizable. Explore our library below and add any and all parts useful to your course.</p>
            </section>

            <!-- Listening Section -->
            <section class="category">
                <h2>Listening</h2>
                <p>Our listening tests are 100% free, customizable, and can be accessed anytime, anywhere. Did we also mention that they come with free resources for educators and students? Check them out below!</p>
                <div class="grid">
                    <div class="card exam available">
                        <h3>Test 1 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/listening1">View Online</a>
                                <a href="/files/Writing1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>

                    <div class="card exam available">
                        <h3>Test 2 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/listening2">View Online</a>
                                <a href="/files/Writing1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>

                     <div class="card exam available">
                        <h3>Test 3<span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/listening3">View Online</a>
                                <a href="/files/Writing1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>
            </section>

            <!-- Reading Section -->
            <section class="category">
                <h2>Reading</h2>
                <p>Our free reading tests are free, flexible, and can be viewed online, downloaded as a PDF, and come with additional free educational resources. Check them out below!</p>
                <div class="grid">
                    <div class="card exam available">
                        <h3>Test 1 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/reading1">View Online</a>
                                <a href="/files/Reading1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>

                    <div class="card exam available">
                        <h3>Test 2 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/reading2">View Online</a>
                                <a href="/files/Reading2.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>

                    <div class="card exam available">
                        <h3>Test 3 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/reading3">View Online</a>
                                <a href="/files/Reading3.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Writing Section -->
            <section class="category">
                <h2>Writing</h2>
                <p>Our free writing tests are free, flexible, and can be viewed online, downloaded as a PDF, and come with additional free educational resources. Check them out below!</p>
                <div class="grid">
                    <div class="card exam available">
                        <h3>Test 1 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/writing1">View Online</a>
                                <a href="/files/Writing1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>

                    <div class="card exam available">
                        <h3>Test 2 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/writing2">View Online</a>
                                <a href="/files/Writing1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>


                    <div class="card exam available">
                        <h3>Test 3 <span class="tag">Available</span></h3>
                        <div class="dropdown exam-dropdown">
                            <button class="btn btn-primary">Get the Test <i class="fas fa-chevron-down"></i></button>
                            <div class="dropdown-content exam-dropdown-content">
                                <a href="/writing3">View Online</a>
                                <a href="/files/Writing1.pdf">Download PDF</a>
                            </div>
                        </div>
                    </div>

            </section>

            <!-- Speaking Section -->
            <section class="category">
                <h2>Speaking</h2>
                <p>Our free speaking tests are free, flexible, and can be viewed online, downloaded as a PDF, and come with additional free educational resources. Check them out below!</p>
                <div class="grid">
                    <div class="card exam unavailable">
                        <h3>Test 1</h3>
                        <button class="btn btn-secondary" disabled>Coming Soon</button>
                    </div>

                    <div class="card exam unavailable">
                        <h3>Test 2</h3>
                        <button class="btn btn-secondary" disabled>Coming Soon</button>
                    </div>

                    <div class="card exam unavailable">
                        <h3>Test 3</h3>
                        <button class="btn btn-secondary" disabled>Coming Soon</button>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer class="footer">
        <%- include('partials/footer'); -%>
    </footer>

</body>
</html>
