<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tips - learnEnglish</title>
    <link rel="stylesheet" href="/styles/typography.css" />
    <link rel="stylesheet" href="/styles/tips.css" />
  </head>

  <body class="page-tips">
    <header class="header">
      <%- include('partials/header', { user: name}) %>
    </header>

    <section class="title">
      <h1>Tips</h1>
      <p>Using the tips to improve your skills!</p>
    </section>

    <main>
      <h1>Listening</h1>
      <!-- Skills Section -->
      <section class="skills-section">
        <div class="skill-row">
          <p>Familiarize yourself with different accents.</p>
        </div>
        <div class="skill-row">
          <p>Focus on keywords, not every word.</p>
        </div>
        <div class="skill-row">
          <p>Practice note-taking while listening.</p>
        </div>
        <div class="skill-row">
          <p>Pay attention to synonyms in audio and questions.</p>
        </div>
      </section>

      <h1>Reading</h1>
      <!-- Skills Section -->
      <section class="skills-section">
        <div class="skill-row">
          <p>Skim the passage for main ideas.</p>
        </div>
        <div class="skill-row">
          <p>Identify keywords in questions.</p>
        </div>
        <div class="skill-row">
          <p>Spend only 20 minutes per passage.</p>
        </div>
        <div class="skill-row">
          <p>Understand question types like True/False/Not Given.</p>
        </div>
      </section>

      <h1>Writing</h1>
      <!-- Skills Section -->
      <section class="skills-section">
        <div class="skill-row">
          <p>Understand Task 1 (report) and Task 2 (essay).</p>
        </div>
        <div class="skill-row">
          <p>Use varied sentence structures and vocabulary.</p>
        </div>
        <div class="skill-row">
          <p> Plan your essay for 5 minutes before starting.</p>
        </div>
        <div class="skill-row">
          <p> Avoid repeating words; use synonyms effectively.</p>
        </div>
      </section>

      <h1>Speaking</h1>
      <!-- Skills Section -->
      <section class="skills-section">
        <div class="skill-row listening">
          <p>Speak clearly and confidently, even if you make mistakes.</p>
        </div>
        <div class="skill-row reading">
          <p>Practice answering common IELTS topics.</p>
        </div>
        <div class="skill-row writing">
          <p>Use a mix of tenses to show grammar range.</p>
        </div>
        <div class="skill-row speaking">
          <p>Focus on natural communication, not memorization.</p>
        </div>
      </section>

    </main>

    <footer class="footer"><%- include('partials/footer'); -%></footer>
  </body>
</html>
