<header>
    <div class="top-nav">
        <div class="container">
            <div class="logo">
                <img src="Logo.png" alt="IELTS Mastery Logo" height="60">
            </div>
            <div class="auth">
                <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                <a href="#">Log in</a>
                <a href="#">Register</a>
            </div>
        </div>
    </div>
    <nav class="main-nav">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Exam Library</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Vocabulary</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </div>
    </nav>
</header>