<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IELTS Mastery</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="top-nav">
            <div class="container">
                <div class="logo">
                    <img src="Logo.png" alt="IELTS Mastery Logo" height="60">
                </div>
                <div class="auth">
                    <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                    <a href="#">Log in</a>
                    <a href="#">Register</a>
                </div>
            </div>
        </div>

    <main>
        spacing
    </main>
    <footer>
        <div class="container">
            <div class="footer-logo">
                <img src="Logo.png" alt="IELTS Mastery Logo" height="60">
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Site map</a></li>
                    <li><a href="#">Getting started</a></li>
                    <li><a href="#">Frequently asked questions</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Privacy and cookies</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>